html,
body {
    margin: 0;
    height: 90vh;
    font-family: assistantBold;
}

body {
    background-image: url(src/assets/mymedia/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@font-face {
    font-family: assistantBold;
    src: url(src/assets/fonts/Assistant-Bold.ttf);
}

@font-face {
    font-family: assistantRegular;
    src: url(src/assets/fonts/Assistant-Regular.ttf);
}

@font-face {
    font-family: assistantLight;
    src: url(src/assets/fonts/Assistant-Light.ttf);
}


